/* 기본 라이트 모드 */
body {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s; /* 부드러운 전환 효과 */
}

/* 다크 모드 */
body.background-Dark {
    background-color: black;
    color: white;
}

/* 다크 모드 */
body.background-Dark #text {
    color: white;
    border: 2px solid white;
}

/* 마우스를 올렸을 때 배경색만 변경 */
#text:hover {
    background-color: #1f99c2;    /* 배경색 변경 */
    color: white;                 /* 텍스트 색상을 흰색으로 변경 */
}

/* 클릭할 때 배경색만 변경 */
#text:active {
    background-color: #31ad31;    /* 클릭 시 배경색을 더 어두운 색으로 변경 */
    color: white;                 /* 클릭 시 텍스트 색상 흰색 */
}


/* 다크 모드 */
body.background-Dark #adminTitle {
    color: white;
}

/* 다크 모드 */
body.background-Dark #title {
    color: white;
}

/* 다크 모드 */
body.background-Dark #MakeText {
    color: white;
}